@import "tailwindcss";

body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f9fafb; /* Light gray background to match new design */
}

/* Ensure full height for the root div */
#root {
  min-height: 100vh;
}
